In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [87]:
df= pd.read_csv('/content/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [88]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [89]:
df.drop('customerID', axis=1, inplace=True)

In [90]:
df.shape

(7043, 20)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [92]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [93]:
def col_unique_val(df):
  for column in df:
    if df[column].dtypes=='object':
     print(f'{column} : {df[column].unique()}')

In [94]:
 col_unique_val(df)

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
TotalCharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn : ['No' 'Yes']

In [95]:
#df1= df[df.TotalCharges!= ' ']
#df1.shape

In [96]:
df.replace('No internet service','No', inplace=True)
df.replace('No phone service','No', inplace=True)

In [97]:
col_unique_val(df)

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes']
OnlineBackup : ['Yes' 'No']
DeviceProtection : ['No' 'Yes']
TechSupport : ['No' 'Yes']
StreamingTV : ['No' 'Yes']
StreamingMovies : ['No' 'Yes']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
TotalCharges : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Churn : ['No' 'Yes']

In [98]:
yes_no_col= ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']

In [99]:
for column in yes_no_col:
  df[column].replace({'Yes':1,'No':0}, inplace=True)

In [100]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [101]:
df['gender']=df['gender'].map({'Female':0,'Male':1})

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   int64
dtypes: float64(1), int64(15), object(4)
memory usage: 1.1+ MB

In [103]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

One hot encoding for categorical columns

In [104]:
df = pd.get_dummies(data=df, columns=['InternetService','Contract','PaymentMethod'])
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [105]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [106]:
df.shape

(7043, 27)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   MultipleLines                            7043 non-null   int64
 7   OnlineSecurity                           7043 non-null   int64
 8   OnlineBackup                             7043 non-null   int64
 9   DeviceProtection                         7043 non-null   int64
 10  TechSupport                              7043 non-null   int64
 11  StreamingTV                              7043 non-null   int64
 12  StreamingMovies                          7043 non-null   int64
 13  PaperlessBilling                         7043 non-null   int64
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7043 non-null   object
 16  Churn                                    7043 non-null   int64
 17  InternetService_DSL                      7043 non-null   uint8
 18  InternetService_Fiber optic              7043 non-null   uint8
 19  InternetService_No                       7043 non-null   uint8
 20  Contract_Month-to-month                  7043 non-null   uint8
 21  Contract_One year                        7043 non-null   uint8
 22  Contract_Two year                        7043 non-null   uint8
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 24  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 25  PaymentMethod_Electronic check           7043 non-null   uint8
 26  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: float64(1), int64(15), object(1), uint8(10)
memory usage: 1004.3+ KB

In [108]:
df['MonthlyCharges']=df['MonthlyCharges'].astype(int)

In [109]:
df['TotalCharges'].fillna('median')

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   MultipleLines                            7043 non-null   int64
 7   OnlineSecurity                           7043 non-null   int64
 8   OnlineBackup                             7043 non-null   int64
 9   DeviceProtection                         7043 non-null   int64
 10  TechSupport                              7043 non-null   int64
 11  StreamingTV                              7043 non-null   int64
 12  StreamingMovies                          7043 non-null   int64
 13  PaperlessBilling                         7043 non-null   int64
 14  MonthlyCharges                           7043 non-null   int64
 15  TotalCharges                             7043 non-null   object
 16  Churn                                    7043 non-null   int64
 17  InternetService_DSL                      7043 non-null   uint8
 18  InternetService_Fiber optic              7043 non-null   uint8
 19  InternetService_No                       7043 non-null   uint8
 20  Contract_Month-to-month                  7043 non-null   uint8
 21  Contract_One year                        7043 non-null   uint8
 22  Contract_Two year                        7043 non-null   uint8
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 24  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 25  PaymentMethod_Electronic check           7043 non-null   uint8
 26  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: int64(16), object(1), uint8(10)
memory usage: 1004.3+ KB

In [114]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [121]:
df['TotalCharges'].fillna('median')

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [125]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

In [126]:
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [128]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0.013889,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,0.472222,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,0.027778,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,0.625000,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,0.027778,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

Train test split

In [130]:
x = df.drop('Churn',axis='columns')
y = df['Churn']

In [133]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [134]:
x_train.shape

(5634, 26)

In [135]:
x_test.shape

(1409, 26)

Build a model (ANN) in tensorflow/keras

In [138]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(26, input_shape=(26,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
177/177 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7274
Epoch 2/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 3/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 4/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 5/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 6/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 7/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 8/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 9/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 10/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 11/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 12/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 13/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 14/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 15/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 16/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 17/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 18/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 19/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 20/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 21/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 22/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 23/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 24/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 25/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 26/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 27/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 28/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 29/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 30/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 31/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 32/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 33/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 34/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 35/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 36/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 37/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 38/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 39/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 40/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 41/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 42/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 43/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 44/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 45/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 46/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 47/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 48/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 49/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 50/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 51/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 52/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 53/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 54/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 55/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 56/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 57/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 58/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 59/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 60/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 61/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 62/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 63/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 64/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 65/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 66/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 67/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 68/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 69/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 70/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 71/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 72/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 73/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 74/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 75/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 76/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 77/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 78/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 79/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 80/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 81/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 82/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 83/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 84/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 85/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 86/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 87/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 88/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 89/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 90/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 91/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 92/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 93/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 94/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 95/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 96/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 97/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 98/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 99/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368
Epoch 100/100
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7368